In [2]:
1+1

2

In [6]:
# 1.3 The first program
print('Hello world')

Hello world

In [7]:
# 1.4 Arithmetic operators
23+90

113

In [8]:
45-90

-45

In [12]:
12*2

24

In [6]:
23/4

5.75

In [7]:
6**2

36

In [7]:
# 1.5 Values and types
a=2
print(type((a)),a)

<class 'int'> 2

In [9]:
type(6.9)

float

In [11]:
type('hello')

str

In [12]:
type("happy")

str

In [13]:
1,000,000

(1, 0, 0)

In [14]:
1,2,34,5,

(1, 2, 34, 5)

In [15]:
                                                '''Exercises'''

# Exercise 1.1.
print'happy'

SyntaxError: invalid syntax (<ipython-input-15-adab1fec4ad0>, line 4)

In [16]:
print'happy

SyntaxError: EOL while scanning string literal (<ipython-input-16-8a70bf87363b>, line 1)

In [17]:
-2

-2

In [18]:
2--2

4

In [19]:
2++2

4

In [20]:
02

SyntaxError: invalid token (<ipython-input-20-72b2ac90f7f3>, line 1)

In [21]:
2 4

SyntaxError: invalid syntax (<ipython-input-21-48f5df9177ba>, line 1)

In [24]:
# Exercise 1.2.
'''How many seconds are there in 42 minutes 42 seconds?'''
seconds=60
adding_seconds=42
need_to_find_the_minutes=42
ans=(seconds*need_to_find_the_minutes)+adding_seconds
print('Total',ans,'seconds in 42 minuts. also adding 42 seconds')

Total 2562 seconds in 42 minuts. also adding 42 seconds

In [26]:
'''How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.'''
kilometers=10
one_mile=1.61
mile_for=kilometers/one_mile
print('There are',mile_for,'miles in',kilometers,'kilometers')

There are 6.211180124223602 miles in 10 kilometers

In [38]:
'''If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace (time per
mile in minutes and seconds)? What is your average speed in miles per hour?'''
total_run=10
time=60*42+42
speed=1000*total_run/time
print('Total speed for 10 km',speed)
print('Speed for 1 km',speed/10)

Total speed for 10 km 3.9032006245121
Speed for 1 km 0.39032006245121