In [1]:
# 10.1 A list is a sequence
[10, 20, 30, 40]

[10, 20, 30, 40]

In [2]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

In [3]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

In [4]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [5]:
# 10.2 Lists are mutable
cheeses[0]

'Cheddar'

In [6]:
numbers = [42, 123]
numbers[1] = 5
numbers

[42, 5]

In [8]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [9]:
# 10.3 Traversing a list
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [14]:
numbers=[1,1,2,3,4,5,6,6]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print (numbers[i])

2
2
4
6
8
10
12
12

In [16]:
for x in []:
    print('This never happens.',x)

In [18]:
# 10.4 List operations
# The + operator concatenates lists:

a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c*4

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [19]:
# 10.5 List slices
t = ['a', 'b', 'c', 'd', 'e', 'f']
t

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
t[0:]

['a', 'b', 'c', 'd', 'e', 'f']

In [21]:
t[1:]

['b', 'c', 'd', 'e', 'f']

In [22]:
t[-1]

'f'

In [24]:
t[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [25]:
t[2:4]=['x','y']

In [26]:
t

['a', 'b', 'x', 'y', 'e', 'f']

In [27]:
# 10.6 List methods
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [29]:
# 10.7 Map, filter and reduce
ls=[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total
add_all(ls)

84

In [31]:
# reduce.
t = [1, 2, 3]
sum(ls)

84

In [32]:
# map
ls1= ['a', 'b', 'c', 'd', 'e', 'f']
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res
capitalize_all(ls1)

['A', 'B', 'C', 'D', 'E', 'F']

In [33]:
# filter
ls2=['a', 'B', 'C', 'g', 'E', 'F']
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res
only_upper(ls2)

['B', 'C', 'E', 'F']

In [34]:
# 10.8 Deleting elements
# delete using pop index given method ()
t = ['a', 'b', 'c']
x = t.pop(1)
t

['a', 'c']

In [41]:
# delete using del but index given mathod []
t=['a', 'B', 'C', 'g', 'E', 'F']
del t[2]
t

['a', 'B', 'g', 'E', 'F']

In [44]:
# delete using remove for only string
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

In [45]:
# 10.9 Lists and strings
# convert the list to string
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [46]:
# split word can make seperate
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

In [47]:
# delimiter using split
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

['spam', 'spam', 'spam']

In [49]:
# using join to list of seperate words
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'

In [50]:
# 10.10 Objects and values

a = 'banana'
b = 'banana'
a is b

True

In [54]:
# 10.11 Aliasing
a=[1,2,3]
b=a
b is a

True

In [58]:
a=[1,2,3]
b=a
b[0] = 42
a

[42, 2, 3]

In [60]:
# 10.12 List arguments
def delete_head(t):
    del t[0]
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

In [64]:
t1 = [1, 2]
t2 = t1.append(6)
t1

[1, 2, 6]

In [65]:
t3 = t1 + [4]
t3

[1, 2, 6, 4]

In [67]:
def tail(t):
    return t[-1]
letters = ['a', 'b', 'c']
tail(letters)

'c'

In [75]:
                                                    '''Exercises'''
# Exercise 10.1.
def nested_sum(a):
    sumof=[]
    for x in a:
        sumof.append(sum(x))
    return sum(sumof)
t = [[1, 2], [3], [4, 5, 6]]   
nested_sum(t)

21

In [82]:
# Exercise 10.2.
def cumsum(t):
    total=0
    new_list=[]
    for x in t:
        total+=x
        print (total)
        new_list.append(total)
    return new_list
t = [1, 2, 3]
cumsum(t)

1
3
6

[1, 3, 6]

In [85]:
# Exercise 10.3.
def middle(t):
    return t[1:3]
t = [1, 2, 3, 4]
middle(t)

[2, 3]

In [88]:
# Exercise 10.4.
def chop(t):
    del t[0]
    del t[-1]
    return t  
t = [1, 2, 3, 4]
chop(t)

[2, 3]

In [122]:
# Exercise 10.5
def is_sorted(t):
    m=sorted(t)
    if t==m:
        print (m)
        return True
    else:
        print(t)
        return False

    


print(is_sorted(['x','a']))

['x', 'a']
False

In [123]:
print(is_sorted([1, 2, 2]))

[1, 2, 2]
True

In [136]:
# Exercise 10.6.
def is_anagram(word1,word2):
    if sorted(word1)==sorted(word2):
        return True
    else:
        return False
word1=['m','a','n','o']
word2=['m','a','n','o',]
is_anagram(word1,word2)

True

In [170]:
# Exercise 10.7.
word1=['m','a','n','o','a','m']


def has_duplicates(we):
    dup=[]
    em=[]
    for al in we:
        if al not in em:
            em.append(al)
        else:
            dup.append(al)
    print("without exist: ",em)
    print("repeating items",dup)
has_duplicates(word1)

without exist:  ['m', 'a', 'n', 'o']
repeating items ['a', 'm']

In [ ]:
# Exercise 10.9.
def word2():
        
    t = []
    fin = open('word.txt','r').read()
    for line in fin:
        word = line.strip()
        t = t + [word]
    return t



word2()

In [ ]:
def word1():
    
    t = []
    fin = open('word.txt','r').read()
    for line in fin:
        word = line.strip()
        t.append(word)
    return t
word1()